<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
</head>
<body>
<form th:method="POST" th:action="@{/student}" th:object="${students}">
    <label for="a">Enter firstName</label>
    <input type="text" th:field="*{firstName}" id="a"/>
    <br/>
    <label for="b">Enter lastName</label>
    <input type="text" th:field="*{lastName}" id="b"/>
    <br/>
    <label for="c">Enter email</label>
    <input type="email" th:field="*{email}" id="c"/>
    <br/>
    <label>Enter format</label>
    <input type="radio" value="ONLINE" th:field="*{studyFormat}" id="onlineFormat">
    <label for="onlineFormat">online</label>
    <input type="radio" value="OFFLINE" th:field="*{studyFormat}" id="offlineFormat">
    <label for="offlineFormat">offline</label>
    <label >Choose a group</label>
    <select th:field="*{group}">
        <option th:each="group:${groupList}"
                th:value="${group.getId()}"
                th:text="${group.groupName}">
         </option>
    </select>
    <br/>
    <input type="submit" value="SAVE"/>
</form>
</body>
</html>