<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update teacher</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/teacher/{id}(id=${teachers.getId()})}" th:object="${teachers}">
    <label for="a">Enter firstName</label>
    <input type="text" th:field="*{firstName}" id="a"/>
    <br/>
    <label for="b">Enter lastName</label>
    <input type="text" th:field="*{lastName}" id="b"/>
    <br/>
    <label for="c">Enter email</label>
    <input type="email" th:field="*{email}" id="c"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>