<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new company</title>
</head>
<body>
<form th:method="POST" th:action="@{/company}" th:object="${companies}">
    <label for="name">Enter companyName</label>
    <input type="text" th:field="*{companyName}" id="name"/>
    <br/>
    <label for="age">Enter companyLocation</label>
    <input type="text" th:field="*{locatedCountry}" id="age"/>
    <br/>
    <input type="submit" value="CREATE"/>
</form>
</body>
</html>
