<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update course</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/course/{id}(id=${courses.getId()})}" th:object="${courses}">
    <label for="name">Enter courseName</label>
    <input type="text" th:field="*{courseName}" id="name"/>
    <br/>
    <label for="place">Enter duration</label>
    <input type="number" th:field="*{duration}" id="place"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>