<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new course</title>
</head>
<body>
<form th:method="POST" th:action="@{/course}" th:object="${courses}">
    <label for="s">Enter courseName</label>
    <input type="text" th:field="*{courseName}" id="s"/>
    <br/>
    <label for="dur">Enter duration</label>
    <input type="number" th:field="*{duration}" id="dur"/>
    <label >Choose a company</label>
    <select th:field="*{companyId}">
        <option th:each="company:${companyList}"
                th:value="${company.getId()}"
                th:text="${company.companyName}">
        </option>
    </select>
    <br/>
    <input type="submit" value="CREATE"/>
</form>
</body>
</html>